# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
quatrex/results/CNT_single/DOS_.dat
quatrex/results/CNT_single/E.dat
quatrex/bandstructure/calc_contact_bs
quatrex/results/CNT_single/DOS.gif
quatrex/results/CNT_sc/DOS_0.dat
quatrex/results/CNT_sc/DOS_1.dat
quatrex/results/CNT_sc/DOS_2.dat
quatrex/results/CNT_sc/DOS.gif
quatrex/results/CNT_sc/E.dat
quatrex/results/CNT_sc/EFR.dat
quatrex/results/CNT_sc/EFL.dat
quatrex/results/CNT_single/DOS_old.gif
quatrex/results/CNT_sc/DOS_3.dat
quatrex/results/CNT_sc/DOS_4.dat
quatrex/results/CNT_sc/DOS_5.dat
quatrex/results/CNT_sc/DOS_6.dat
quatrex/results/CNT_sc/DOS_7.dat
quatrex/results/CNT_sc/DOS_8.dat
quatrex/results/CNT_sc/DOS_9.dat
quatrex/results/CNT_sc/DOS_10.dat
quatrex/results/CNT_sc/DOS_11.dat
quatrex/results/CNT_sc/DOS_12.dat
quatrex/results/CNT_sc/DOS_13.dat
quatrex/results/CNT_sc/DOS_14.dat
quatrex/results/CNT_sc/DOS_15.dat
quatrex/results/CNT_sc/DOS_16.dat
quatrex/results/CNT_sc/DOS_17.dat
quatrex/results/CNT_sc/DOS_18.dat
quatrex/results/CNT_sc/DOS_19.dat
quatrex/results/CNT_sc/DOS_20.dat
quatrex/results/CNT_sc/DOS_21.dat
quatrex/results/CNT_sc/DOS_22.dat
quatrex/results/CNT_sc/DOS_23.dat
quatrex/results/CNT_sc/DOS_24.dat
quatrex/results/CNT_sc/DOS_25.dat
quatrex/results/CNT_sc/DOS_26.dat
quatrex/results/CNT_sc/DOS_27.dat
quatrex/results/CNT_sc/DOS_28.dat
quatrex/results/CNT_sc/DOS_29.dat

.dacecache/
quatrex/results/GNR_biased_sc/DOS_0.dat
quatrex/results/GNR_biased_sc/DOS_0.gif
quatrex/results/GNR_biased_sc/DOS_1.dat
quatrex/results/GNR_biased_sc/DOS_2.dat
quatrex/results/GNR_biased_sc/DOS_3.dat
quatrex/results/GNR_biased_sc/DOS_4.dat
quatrex/results/GNR_biased_sc/DOS_5.dat
quatrex/results/GNR_biased_sc/DOS_6.dat
quatrex/results/GNR_biased_sc/DOS_7.dat
quatrex/results/GNR_biased_sc/DOS_8.dat
quatrex/results/GNR_biased_sc/DOS_9.dat
quatrex/results/GNR_biased_sc/DOS_10.dat
quatrex/results/GNR_biased_sc/DOS_11.dat
quatrex/results/GNR_biased_sc/DOS_12.dat
quatrex/results/GNR_biased_sc/DOS_13.dat
quatrex/results/GNR_biased_sc/DOS_14.dat
quatrex/results/GNR_biased_sc/DOS_15.dat
quatrex/results/GNR_biased_sc/DOS_16.dat
quatrex/results/GNR_biased_sc/DOS_17.dat
quatrex/results/GNR_biased_sc/DOS_18.dat
quatrex/results/GNR_biased_sc/DOS_19.dat
quatrex/results/GNR_biased_sc/DOS_19.gif
quatrex/results/GNR_biased_sc/DOS_20.dat
quatrex/results/GNR_biased_sc/DOS_21.dat
quatrex/results/GNR_biased_sc/DOS_22.dat
quatrex/results/GNR_biased_sc/DOS_23.dat
quatrex/results/GNR_biased_sc/DOS_24.dat
quatrex/results/GNR_biased_sc/DOS_25.dat
quatrex/results/GNR_biased_sc/DOS_26.dat
quatrex/results/GNR_biased_sc/DOS_27.dat
quatrex/results/GNR_biased_sc/DOS_28.dat
quatrex/results/GNR_biased_sc/DOS_29.dat
quatrex/results/GNR_biased_sc/DOS_30.dat
quatrex/results/GNR_biased_sc/DOS_31.dat
quatrex/results/GNR_biased_sc/DOS_32.dat
quatrex/results/GNR_biased_sc/DOS_33.dat
quatrex/results/GNR_biased_sc/DOS_34.dat
quatrex/results/GNR_biased_sc/DOS_35.dat
quatrex/results/GNR_biased_sc/DOS_36.dat
quatrex/results/GNR_biased_sc/DOS_qm_0806.gif
quatrex/results/GNR_biased_sc/DOS_REF.gif
quatrex/results/GNR_biased_sc/E.dat
quatrex/results/GNR_biased_sc/EFL.dat
quatrex/results/GNR_biased_sc/EFR.dat
quatrex/results/GNR_biased_sc/IDE_0.dat
quatrex/results/GNR_biased_sc/IDE_0.gif
quatrex/results/GNR_biased_sc/IDE_1.dat
quatrex/results/GNR_biased_sc/IDE_2.dat
quatrex/results/GNR_biased_sc/IDE_2.gif
quatrex/results/GNR_biased_sc/IDE_3.dat
quatrex/results/GNR_biased_sc/IDE_4.dat
quatrex/results/GNR_biased_sc/IDE_5.dat
quatrex/results/GNR_biased_sc/IDE_6.dat
quatrex/results/GNR_biased_sc/IDE_7.dat
quatrex/results/GNR_biased_sc/IDE_8.dat
quatrex/results/GNR_biased_sc/IDE_9.dat
quatrex/results/GNR_biased_sc/IDE_10.dat
quatrex/results/GNR_biased_sc/IDE_11.dat
quatrex/results/GNR_biased_sc/IDE_12.dat
quatrex/results/GNR_biased_sc/IDE_13.dat
quatrex/results/GNR_biased_sc/IDE_14.dat
quatrex/results/GNR_biased_sc/IDE_15.dat
quatrex/results/GNR_biased_sc/IDE_16.dat
quatrex/results/GNR_biased_sc/IDE_17.dat
quatrex/results/GNR_biased_sc/IDE_18.dat
quatrex/results/GNR_biased_sc/IDE_19.dat
quatrex/results/GNR_biased_sc/IDE_19.gif
quatrex/results/GNR_biased_sc/IDE_20.dat
quatrex/results/GNR_biased_sc/IDE_21.dat
quatrex/results/GNR_biased_sc/IDE_22.dat
quatrex/results/GNR_biased_sc/IDE_23.dat
quatrex/results/GNR_biased_sc/IDE_24.dat
quatrex/results/GNR_biased_sc/IDE_25.dat
quatrex/results/GNR_biased_sc/IDE_26.dat
quatrex/results/GNR_biased_sc/IDE_27.dat
quatrex/results/GNR_biased_sc/IDE_28.dat
quatrex/results/GNR_biased_sc/IDE_29.dat
quatrex/results/GNR_biased_sc/IDE_30.dat
quatrex/results/GNR_biased_sc/IDE_31.dat
quatrex/results/GNR_biased_sc/IDE_32.dat
quatrex/results/GNR_biased_sc/IDE_33.dat
quatrex/results/GNR_biased_sc/IDE_34.dat
quatrex/results/GNR_biased_sc/IDE_35.dat
quatrex/results/GNR_biased_sc/IDE_36.dat
quatrex/results/GNR_biased_sc/IDE_qm_0806.gif
quatrex/results/GNR_biased_sc/IDE_REF.gif
quatrex/results/GNR_biased_sc/IDE.gif
quatrex/results/GNR_biased_sc/DOS_37.dat
quatrex/results/GNR_biased_sc/DOS_38.dat
quatrex/results/GNR_biased_sc/DOS_39.dat
quatrex/results/GNR_biased_sc/DOS_40.dat
quatrex/results/GNR_biased_sc/DOS_41.dat
quatrex/results/GNR_biased_sc/DOS_42.dat
quatrex/results/GNR_biased_sc/DOS_43.dat
quatrex/results/GNR_biased_sc/DOS_44.dat
quatrex/results/GNR_biased_sc/DOS_45.dat
quatrex/results/GNR_biased_sc/DOS_46.dat
quatrex/results/GNR_biased_sc/DOS_47.dat
quatrex/results/GNR_biased_sc/DOS_48.dat
quatrex/results/GNR_biased_sc/DOS_49.dat
quatrex/results/GNR_biased_sc/DOS_49.gif
quatrex/results/GNR_biased_sc/DOS.gif
quatrex/results/GNR_biased_sc/IDE_37.dat
quatrex/results/GNR_biased_sc/IDE_38.dat
quatrex/results/GNR_biased_sc/IDE_39.dat
quatrex/results/GNR_biased_sc/IDE_40.dat
quatrex/results/GNR_biased_sc/IDE_41.dat
quatrex/results/GNR_biased_sc/IDE_42.dat
quatrex/results/GNR_biased_sc/IDE_43.dat
quatrex/results/GNR_biased_sc/IDE_44.dat
quatrex/results/GNR_biased_sc/IDE_45.dat
quatrex/results/GNR_biased_sc/IDE_46.dat
quatrex/results/GNR_biased_sc/IDE_47.dat
quatrex/results/GNR_biased_sc/IDE_48.dat
quatrex/results/GNR_biased_sc/IDE_49.dat
quatrex/results/GNR_biased_sc/IDE_49.gif
quatrex/results/CNT_sc/DOS_250_3part.gif
quatrex/results/CNT_sc/dos_save.png
quatrex/results/CNT_sc/dos.png
