# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
quatrex/results/CNT_single/DOS_.dat
quatrex/results/CNT_single/E.dat
quatrex/bandstructure/calc_contact_bs
quatrex/results/CNT_single/DOS.gif
quatrex/results/CNT_sc/DOS_0.dat
quatrex/results/CNT_sc/DOS_1.dat
quatrex/results/CNT_sc/DOS_2.dat
quatrex/results/CNT_sc/DOS.gif
quatrex/results/CNT_sc/E.dat
quatrex/results/CNT_sc/EFR.dat
quatrex/results/CNT_sc/EFL.dat
quatrex/results/CNT_single/DOS_old.gif
quatrex/results/CNT_sc/DOS_3.dat
quatrex/results/CNT_sc/DOS_4.dat
quatrex/results/CNT_sc/DOS_5.dat
quatrex/results/CNT_sc/DOS_6.dat
quatrex/results/CNT_sc/DOS_7.dat
quatrex/results/CNT_sc/DOS_8.dat
quatrex/results/CNT_sc/DOS_9.dat
quatrex/results/CNT_sc/DOS_10.dat
quatrex/results/CNT_sc/DOS_11.dat
quatrex/results/CNT_sc/DOS_12.dat
quatrex/results/CNT_sc/DOS_13.dat
quatrex/results/CNT_sc/DOS_14.dat
quatrex/results/CNT_sc/DOS_15.dat
quatrex/results/CNT_sc/DOS_16.dat
quatrex/results/CNT_sc/DOS_17.dat
quatrex/results/CNT_sc/DOS_18.dat
quatrex/results/CNT_sc/DOS_19.dat
quatrex/results/CNT_sc/DOS_20.dat
quatrex/results/CNT_sc/DOS_21.dat
quatrex/results/CNT_sc/DOS_22.dat
quatrex/results/CNT_sc/DOS_23.dat
quatrex/results/CNT_sc/DOS_24.dat
quatrex/results/CNT_sc/DOS_25.dat
quatrex/results/CNT_sc/DOS_26.dat
quatrex/results/CNT_sc/DOS_27.dat
quatrex/results/CNT_sc/DOS_28.dat
quatrex/results/CNT_sc/DOS_29.dat

.dacecache/
quatrex/results/GNR_biased_sc/DOS_0.dat
quatrex/results/GNR_biased_sc/DOS_0.gif
quatrex/results/GNR_biased_sc/DOS_1.dat
quatrex/results/GNR_biased_sc/DOS_2.dat
quatrex/results/GNR_biased_sc/DOS_3.dat
quatrex/results/GNR_biased_sc/DOS_4.dat
quatrex/results/GNR_biased_sc/DOS_5.dat
quatrex/results/GNR_biased_sc/DOS_6.dat
quatrex/results/GNR_biased_sc/DOS_7.dat
quatrex/results/GNR_biased_sc/DOS_8.dat
quatrex/results/GNR_biased_sc/DOS_9.dat
quatrex/results/GNR_biased_sc/DOS_10.dat
quatrex/results/GNR_biased_sc/DOS_11.dat
quatrex/results/GNR_biased_sc/DOS_12.dat
quatrex/results/GNR_biased_sc/DOS_13.dat
quatrex/results/GNR_biased_sc/DOS_14.dat
quatrex/results/GNR_biased_sc/DOS_15.dat
quatrex/results/GNR_biased_sc/DOS_16.dat
quatrex/results/GNR_biased_sc/DOS_17.dat
quatrex/results/GNR_biased_sc/DOS_18.dat
quatrex/results/GNR_biased_sc/DOS_19.dat
quatrex/results/GNR_biased_sc/DOS_19.gif
quatrex/results/GNR_biased_sc/DOS_20.dat
quatrex/results/GNR_biased_sc/DOS_21.dat
quatrex/results/GNR_biased_sc/DOS_22.dat
quatrex/results/GNR_biased_sc/DOS_23.dat
quatrex/results/GNR_biased_sc/DOS_24.dat
quatrex/results/GNR_biased_sc/DOS_25.dat
quatrex/results/GNR_biased_sc/DOS_26.dat
quatrex/results/GNR_biased_sc/DOS_27.dat
quatrex/results/GNR_biased_sc/DOS_28.dat
quatrex/results/GNR_biased_sc/DOS_29.dat
quatrex/results/GNR_biased_sc/DOS_30.dat
quatrex/results/GNR_biased_sc/DOS_31.dat
quatrex/results/GNR_biased_sc/DOS_32.dat
quatrex/results/GNR_biased_sc/DOS_33.dat
quatrex/results/GNR_biased_sc/DOS_34.dat
quatrex/results/GNR_biased_sc/DOS_35.dat
quatrex/results/GNR_biased_sc/DOS_36.dat
quatrex/results/GNR_biased_sc/DOS_qm_0806.gif
quatrex/results/GNR_biased_sc/DOS_REF.gif
quatrex/results/GNR_biased_sc/E.dat
quatrex/results/GNR_biased_sc/EFL.dat
quatrex/results/GNR_biased_sc/EFR.dat
quatrex/results/GNR_biased_sc/IDE_0.dat
quatrex/results/GNR_biased_sc/IDE_0.gif
quatrex/results/GNR_biased_sc/IDE_1.dat
quatrex/results/GNR_biased_sc/IDE_2.dat
quatrex/results/GNR_biased_sc/IDE_2.gif
quatrex/results/GNR_biased_sc/IDE_3.dat
quatrex/results/GNR_biased_sc/IDE_4.dat
quatrex/results/GNR_biased_sc/IDE_5.dat
quatrex/results/GNR_biased_sc/IDE_6.dat
quatrex/results/GNR_biased_sc/IDE_7.dat
quatrex/results/GNR_biased_sc/IDE_8.dat
quatrex/results/GNR_biased_sc/IDE_9.dat
quatrex/results/GNR_biased_sc/IDE_10.dat
quatrex/results/GNR_biased_sc/IDE_11.dat
quatrex/results/GNR_biased_sc/IDE_12.dat
quatrex/results/GNR_biased_sc/IDE_13.dat
quatrex/results/GNR_biased_sc/IDE_14.dat
quatrex/results/GNR_biased_sc/IDE_15.dat
quatrex/results/GNR_biased_sc/IDE_16.dat
quatrex/results/GNR_biased_sc/IDE_17.dat
quatrex/results/GNR_biased_sc/IDE_18.dat
quatrex/results/GNR_biased_sc/IDE_19.dat
quatrex/results/GNR_biased_sc/IDE_19.gif
quatrex/results/GNR_biased_sc/IDE_20.dat
quatrex/results/GNR_biased_sc/IDE_21.dat
quatrex/results/GNR_biased_sc/IDE_22.dat
quatrex/results/GNR_biased_sc/IDE_23.dat
quatrex/results/GNR_biased_sc/IDE_24.dat
quatrex/results/GNR_biased_sc/IDE_25.dat
quatrex/results/GNR_biased_sc/IDE_26.dat
quatrex/results/GNR_biased_sc/IDE_27.dat
quatrex/results/GNR_biased_sc/IDE_28.dat
quatrex/results/GNR_biased_sc/IDE_29.dat
quatrex/results/GNR_biased_sc/IDE_30.dat
quatrex/results/GNR_biased_sc/IDE_31.dat
quatrex/results/GNR_biased_sc/IDE_32.dat
quatrex/results/GNR_biased_sc/IDE_33.dat
quatrex/results/GNR_biased_sc/IDE_34.dat
quatrex/results/GNR_biased_sc/IDE_35.dat
quatrex/results/GNR_biased_sc/IDE_36.dat
quatrex/results/GNR_biased_sc/IDE_qm_0806.gif
quatrex/results/GNR_biased_sc/IDE_REF.gif
quatrex/results/GNR_biased_sc/IDE.gif
quatrex/results/GNR_biased_sc/DOS_37.dat
quatrex/results/GNR_biased_sc/DOS_38.dat
quatrex/results/GNR_biased_sc/DOS_39.dat
quatrex/results/GNR_biased_sc/DOS_40.dat
quatrex/results/GNR_biased_sc/DOS_41.dat
quatrex/results/GNR_biased_sc/DOS_42.dat
quatrex/results/GNR_biased_sc/DOS_43.dat
quatrex/results/GNR_biased_sc/DOS_44.dat
quatrex/results/GNR_biased_sc/DOS_45.dat
quatrex/results/GNR_biased_sc/DOS_46.dat
quatrex/results/GNR_biased_sc/DOS_47.dat
quatrex/results/GNR_biased_sc/DOS_48.dat
quatrex/results/GNR_biased_sc/DOS_49.dat
quatrex/results/GNR_biased_sc/DOS_49.gif
quatrex/results/GNR_biased_sc/DOS.gif
quatrex/results/GNR_biased_sc/IDE_37.dat
quatrex/results/GNR_biased_sc/IDE_38.dat
quatrex/results/GNR_biased_sc/IDE_39.dat
quatrex/results/GNR_biased_sc/IDE_40.dat
quatrex/results/GNR_biased_sc/IDE_41.dat
quatrex/results/GNR_biased_sc/IDE_42.dat
quatrex/results/GNR_biased_sc/IDE_43.dat
quatrex/results/GNR_biased_sc/IDE_44.dat
quatrex/results/GNR_biased_sc/IDE_45.dat
quatrex/results/GNR_biased_sc/IDE_46.dat
quatrex/results/GNR_biased_sc/IDE_47.dat
quatrex/results/GNR_biased_sc/IDE_48.dat
quatrex/results/GNR_biased_sc/IDE_49.dat
quatrex/results/GNR_biased_sc/IDE_49.gif
quatrex/results/CNT_sc/DOS_250_3part.gif
quatrex/results/CNT_sc/dos_save.png
quatrex/results/CNT_sc/dos.png
quatrex/results/GNR_biased_sc/DOS_50.dat
quatrex/results/GNR_biased_sc/DOS_50iter.gif
quatrex/results/GNR_biased_sc/DOS_51.dat
quatrex/results/GNR_biased_sc/DOS_52.dat
quatrex/results/GNR_biased_sc/DOS_53.dat
quatrex/results/GNR_biased_sc/DOS_54.dat
quatrex/results/GNR_biased_sc/DOS_55.dat
quatrex/results/GNR_biased_sc/DOS_56.dat
quatrex/results/GNR_biased_sc/DOS_57.dat
quatrex/results/GNR_biased_sc/DOS_58.dat
quatrex/results/GNR_biased_sc/DOS_59.dat
quatrex/results/GNR_biased_sc/DOS_60.dat
quatrex/results/GNR_biased_sc/DOS_61.dat
quatrex/results/GNR_biased_sc/DOS_62.dat
quatrex/results/GNR_biased_sc/DOS_63.dat
quatrex/results/GNR_biased_sc/DOS_64.dat
quatrex/results/GNR_biased_sc/DOS_65.dat
quatrex/results/GNR_biased_sc/DOS_66.dat
quatrex/results/GNR_biased_sc/DOS_67.dat
quatrex/results/GNR_biased_sc/DOS_68.dat
quatrex/results/GNR_biased_sc/DOS_69.dat
quatrex/results/GNR_biased_sc/DOS_70.dat
quatrex/results/GNR_biased_sc/DOS_71.dat
quatrex/results/GNR_biased_sc/DOS_72.dat
quatrex/results/GNR_biased_sc/DOS_73.dat
quatrex/results/GNR_biased_sc/DOS_74.dat
quatrex/results/GNR_biased_sc/DOS_75.dat
quatrex/results/GNR_biased_sc/DOS_76.dat
quatrex/results/GNR_biased_sc/DOS_77.dat
quatrex/results/GNR_biased_sc/DOS_78.dat
quatrex/results/GNR_biased_sc/DOS_79.dat
quatrex/results/GNR_biased_sc/DOS_80.dat
quatrex/results/GNR_biased_sc/DOS_81.dat
quatrex/results/GNR_biased_sc/DOS_82.dat
quatrex/results/GNR_biased_sc/DOS_83.dat
quatrex/results/GNR_biased_sc/DOS_84.dat
quatrex/results/GNR_biased_sc/DOS_85.dat
quatrex/results/GNR_biased_sc/DOS_86.dat
quatrex/results/GNR_biased_sc/DOS_87.dat
quatrex/results/GNR_biased_sc/DOS_88.dat
quatrex/results/GNR_biased_sc/DOS_89.dat
quatrex/results/GNR_biased_sc/DOS_90.dat
quatrex/results/GNR_biased_sc/DOS_91.dat
quatrex/results/GNR_biased_sc/DOS_92.dat
quatrex/results/GNR_biased_sc/DOS_93.dat
quatrex/results/GNR_biased_sc/DOS_94.dat
quatrex/results/GNR_biased_sc/DOS_95.dat
quatrex/results/GNR_biased_sc/DOS_96.dat
quatrex/results/GNR_biased_sc/DOS_97.dat
quatrex/results/GNR_biased_sc/DOS_98.dat
quatrex/results/GNR_biased_sc/DOS_99.dat
quatrex/results/GNR_biased_sc/DOS_100.dat
quatrex/results/GNR_biased_sc/DOS_101.dat
quatrex/results/GNR_biased_sc/DOS_102.dat
quatrex/results/GNR_biased_sc/DOS_103.dat
quatrex/results/GNR_biased_sc/DOS_104.dat
quatrex/results/GNR_biased_sc/DOS_105.dat
quatrex/results/GNR_biased_sc/DOS_106.dat
quatrex/results/GNR_biased_sc/DOS_107.dat
quatrex/results/GNR_biased_sc/DOS_108.dat
quatrex/results/GNR_biased_sc/DOS_109.dat
quatrex/results/GNR_biased_sc/DOS_110.dat
quatrex/results/GNR_biased_sc/DOS_111.dat
quatrex/results/GNR_biased_sc/DOS_112.dat
quatrex/results/GNR_biased_sc/DOS_113.dat
quatrex/results/GNR_biased_sc/DOS_114.dat
quatrex/results/GNR_biased_sc/DOS_115.dat
quatrex/results/GNR_biased_sc/DOS_116.dat
quatrex/results/GNR_biased_sc/DOS_117.dat
quatrex/results/GNR_biased_sc/DOS_118.dat
quatrex/results/GNR_biased_sc/DOS_119.dat
quatrex/results/GNR_biased_sc/DOS_120.dat
quatrex/results/GNR_biased_sc/DOS_121.dat
quatrex/results/GNR_biased_sc/DOS_122.dat
quatrex/results/GNR_biased_sc/DOS_123.dat
quatrex/results/GNR_biased_sc/DOS_124.dat
quatrex/results/GNR_biased_sc/DOS_125.dat
quatrex/results/GNR_biased_sc/DOS_126.dat
quatrex/results/GNR_biased_sc/DOS_127.dat
quatrex/results/GNR_biased_sc/DOS_128.dat
quatrex/results/GNR_biased_sc/DOS_129.dat
quatrex/results/GNR_biased_sc/DOS_130.dat
quatrex/results/GNR_biased_sc/DOS_131.dat
quatrex/results/GNR_biased_sc/DOS_132.dat
quatrex/results/GNR_biased_sc/DOS_133.dat
quatrex/results/GNR_biased_sc/DOS_134.dat
quatrex/results/GNR_biased_sc/DOS_135.dat
quatrex/results/GNR_biased_sc/DOS_136.dat
quatrex/results/GNR_biased_sc/DOS_137.dat
quatrex/results/GNR_biased_sc/DOS_138.dat
quatrex/results/GNR_biased_sc/DOS_139.dat
quatrex/results/GNR_biased_sc/DOS_140.dat
quatrex/results/GNR_biased_sc/DOS_141.dat
quatrex/results/GNR_biased_sc/DOS_142.dat
quatrex/results/GNR_biased_sc/DOS_143.dat
quatrex/results/GNR_biased_sc/DOS_144.dat
quatrex/results/GNR_biased_sc/DOS_145.dat
quatrex/results/GNR_biased_sc/DOS_146.dat
quatrex/results/GNR_biased_sc/DOS_147.dat
quatrex/results/GNR_biased_sc/DOS_148.dat
quatrex/results/GNR_biased_sc/DOS_149.dat
quatrex/results/GNR_biased_sc/DOS_150.dat
quatrex/results/GNR_biased_sc/DOS_151.dat
quatrex/results/GNR_biased_sc/DOS_152.dat
quatrex/results/GNR_biased_sc/DOS_153.dat
quatrex/results/GNR_biased_sc/DOS_154.dat
quatrex/results/GNR_biased_sc/DOS_155.dat
quatrex/results/GNR_biased_sc/DOS_156.dat
quatrex/results/GNR_biased_sc/DOS_157.dat
quatrex/results/GNR_biased_sc/DOS_158.dat
quatrex/results/GNR_biased_sc/DOS_159.dat
quatrex/results/GNR_biased_sc/DOS_160.dat
quatrex/results/GNR_biased_sc/DOS_161.dat
quatrex/results/GNR_biased_sc/DOS_162.dat
quatrex/results/GNR_biased_sc/DOS_163.dat
quatrex/results/GNR_biased_sc/DOS_164.dat
quatrex/results/GNR_biased_sc/DOS_165.dat
quatrex/results/GNR_biased_sc/DOS_166.dat
quatrex/results/GNR_biased_sc/DOS_167.dat
quatrex/results/GNR_biased_sc/DOS_168.dat
quatrex/results/GNR_biased_sc/DOS_169.dat
quatrex/results/GNR_biased_sc/DOS_170.dat
quatrex/results/GNR_biased_sc/DOS_171.dat
quatrex/results/GNR_biased_sc/DOS_172.dat
quatrex/results/GNR_biased_sc/DOS_173.dat
quatrex/results/GNR_biased_sc/DOS_174.dat
quatrex/results/GNR_biased_sc/DOS_175.dat
quatrex/results/GNR_biased_sc/DOS_176.dat
quatrex/results/GNR_biased_sc/DOS_177.dat
quatrex/results/GNR_biased_sc/DOS_178.dat
quatrex/results/GNR_biased_sc/DOS_179.dat
quatrex/results/GNR_biased_sc/DOS_180.dat
quatrex/results/GNR_biased_sc/DOS_181.dat
quatrex/results/GNR_biased_sc/DOS_182.dat
quatrex/results/GNR_biased_sc/DOS_183.dat
quatrex/results/GNR_biased_sc/DOS_184.dat
quatrex/results/GNR_biased_sc/DOS_185.dat
quatrex/results/GNR_biased_sc/DOS_186.dat
quatrex/results/GNR_biased_sc/DOS_187.dat
quatrex/results/GNR_biased_sc/DOS_188.dat
quatrex/results/GNR_biased_sc/DOS_189.dat
quatrex/results/GNR_biased_sc/DOS_190.dat
quatrex/results/GNR_biased_sc/DOS_191.dat
quatrex/results/GNR_biased_sc/DOS_192.dat
quatrex/results/GNR_biased_sc/DOS_193.dat
quatrex/results/GNR_biased_sc/DOS_194.dat
quatrex/results/GNR_biased_sc/DOS_195.dat
quatrex/results/GNR_biased_sc/DOS_196.dat
quatrex/results/GNR_biased_sc/DOS_197.dat
quatrex/results/GNR_biased_sc/DOS_198.dat
quatrex/results/GNR_biased_sc/DOS_199.dat
quatrex/results/GNR_biased_sc/ECmin.dat
quatrex/results/GNR_biased_sc/IDE_50.dat
quatrex/results/GNR_biased_sc/IDE_50iter.gif
quatrex/results/GNR_biased_sc/IDE_51.dat
quatrex/results/GNR_biased_sc/IDE_52.dat
quatrex/results/GNR_biased_sc/IDE_53.dat
quatrex/results/GNR_biased_sc/IDE_54.dat
quatrex/results/GNR_biased_sc/IDE_55.dat
quatrex/results/GNR_biased_sc/IDE_56.dat
quatrex/results/GNR_biased_sc/IDE_57.dat
quatrex/results/GNR_biased_sc/IDE_58.dat
quatrex/results/GNR_biased_sc/IDE_59.dat
quatrex/results/GNR_biased_sc/IDE_60.dat
quatrex/results/GNR_biased_sc/IDE_61.dat
quatrex/results/GNR_biased_sc/IDE_62.dat
quatrex/results/GNR_biased_sc/IDE_63.dat
quatrex/results/GNR_biased_sc/IDE_64.dat
quatrex/results/GNR_biased_sc/IDE_65.dat
quatrex/results/GNR_biased_sc/IDE_66.dat
quatrex/results/GNR_biased_sc/IDE_67.dat
quatrex/results/GNR_biased_sc/IDE_68.dat
quatrex/results/GNR_biased_sc/IDE_69.dat
quatrex/results/GNR_biased_sc/IDE_70.dat
quatrex/results/GNR_biased_sc/IDE_71.dat
quatrex/results/GNR_biased_sc/IDE_72.dat
quatrex/results/GNR_biased_sc/IDE_73.dat
quatrex/results/GNR_biased_sc/IDE_74.dat
quatrex/results/GNR_biased_sc/IDE_75.dat
quatrex/results/GNR_biased_sc/IDE_76.dat
quatrex/results/GNR_biased_sc/IDE_77.dat
quatrex/results/GNR_biased_sc/IDE_78.dat
quatrex/results/GNR_biased_sc/IDE_79.dat
quatrex/results/GNR_biased_sc/IDE_80.dat
quatrex/results/GNR_biased_sc/IDE_81.dat
quatrex/results/GNR_biased_sc/IDE_82.dat
quatrex/results/GNR_biased_sc/IDE_83.dat
quatrex/results/GNR_biased_sc/IDE_84.dat
quatrex/results/GNR_biased_sc/IDE_85.dat
quatrex/results/GNR_biased_sc/IDE_86.dat
quatrex/results/GNR_biased_sc/IDE_87.dat
quatrex/results/GNR_biased_sc/IDE_88.dat
quatrex/results/GNR_biased_sc/IDE_89.dat
quatrex/results/GNR_biased_sc/IDE_90.dat
quatrex/results/GNR_biased_sc/IDE_91.dat
quatrex/results/GNR_biased_sc/IDE_92.dat
quatrex/results/GNR_biased_sc/IDE_93.dat
quatrex/results/GNR_biased_sc/IDE_94.dat
quatrex/results/GNR_biased_sc/IDE_95.dat
quatrex/results/GNR_biased_sc/IDE_96.dat
quatrex/results/GNR_biased_sc/IDE_97.dat
quatrex/results/GNR_biased_sc/IDE_98.dat
quatrex/results/GNR_biased_sc/IDE_99.dat
quatrex/results/GNR_biased_sc/IDE_100.dat
quatrex/results/GNR_biased_sc/IDE_101.dat
quatrex/results/GNR_biased_sc/IDE_102.dat
quatrex/results/GNR_biased_sc/IDE_103.dat
quatrex/results/GNR_biased_sc/IDE_104.dat
quatrex/results/GNR_biased_sc/IDE_105.dat
quatrex/results/GNR_biased_sc/IDE_106.dat
quatrex/results/GNR_biased_sc/IDE_107.dat
quatrex/results/GNR_biased_sc/IDE_108.dat
quatrex/results/GNR_biased_sc/IDE_109.dat
quatrex/results/GNR_biased_sc/IDE_110.dat
quatrex/results/GNR_biased_sc/IDE_111.dat
quatrex/results/GNR_biased_sc/IDE_112.dat
quatrex/results/GNR_biased_sc/IDE_113.dat
quatrex/results/GNR_biased_sc/IDE_114.dat
quatrex/results/GNR_biased_sc/IDE_115.dat
quatrex/results/GNR_biased_sc/IDE_116.dat
quatrex/results/GNR_biased_sc/IDE_117.dat
quatrex/results/GNR_biased_sc/IDE_118.dat
quatrex/results/GNR_biased_sc/IDE_119.dat
quatrex/results/GNR_biased_sc/IDE_120.dat
quatrex/results/GNR_biased_sc/IDE_121.dat
quatrex/results/GNR_biased_sc/IDE_122.dat
quatrex/results/GNR_biased_sc/IDE_123.dat
quatrex/results/GNR_biased_sc/IDE_124.dat
quatrex/results/GNR_biased_sc/IDE_125.dat
quatrex/results/GNR_biased_sc/IDE_126.dat
quatrex/results/GNR_biased_sc/IDE_127.dat
quatrex/results/GNR_biased_sc/IDE_128.dat
quatrex/results/GNR_biased_sc/IDE_129.dat
quatrex/results/GNR_biased_sc/IDE_130.dat
quatrex/results/GNR_biased_sc/IDE_131.dat
quatrex/results/GNR_biased_sc/IDE_132.dat
quatrex/results/GNR_biased_sc/IDE_133.dat
quatrex/results/GNR_biased_sc/IDE_134.dat
quatrex/results/GNR_biased_sc/IDE_135.dat
quatrex/results/GNR_biased_sc/IDE_136.dat
quatrex/results/GNR_biased_sc/IDE_137.dat
quatrex/results/GNR_biased_sc/IDE_138.dat
quatrex/results/GNR_biased_sc/IDE_139.dat
quatrex/results/GNR_biased_sc/IDE_140.dat
quatrex/results/GNR_biased_sc/IDE_141.dat
quatrex/results/GNR_biased_sc/IDE_142.dat
quatrex/results/GNR_biased_sc/IDE_143.dat
quatrex/results/GNR_biased_sc/IDE_144.dat
quatrex/results/GNR_biased_sc/IDE_145.dat
quatrex/results/GNR_biased_sc/IDE_146.dat
quatrex/results/GNR_biased_sc/IDE_147.dat
quatrex/results/GNR_biased_sc/IDE_148.dat
quatrex/results/GNR_biased_sc/IDE_149.dat
quatrex/results/GNR_biased_sc/IDE_150.dat
quatrex/results/GNR_biased_sc/IDE_151.dat
quatrex/results/GNR_biased_sc/IDE_152.dat
quatrex/results/GNR_biased_sc/IDE_153.dat
quatrex/results/GNR_biased_sc/IDE_154.dat
quatrex/results/GNR_biased_sc/IDE_155.dat
quatrex/results/GNR_biased_sc/IDE_156.dat
quatrex/results/GNR_biased_sc/IDE_157.dat
quatrex/results/GNR_biased_sc/IDE_158.dat
quatrex/results/GNR_biased_sc/IDE_159.dat
quatrex/results/GNR_biased_sc/IDE_160.dat
quatrex/results/GNR_biased_sc/IDE_161.dat
quatrex/results/GNR_biased_sc/IDE_162.dat
quatrex/results/GNR_biased_sc/IDE_163.dat
quatrex/results/GNR_biased_sc/IDE_164.dat
quatrex/results/GNR_biased_sc/IDE_165.dat
quatrex/results/GNR_biased_sc/IDE_166.dat
quatrex/results/GNR_biased_sc/IDE_167.dat
quatrex/results/GNR_biased_sc/IDE_168.dat
quatrex/results/GNR_biased_sc/IDE_169.dat
quatrex/results/GNR_biased_sc/IDE_170.dat
quatrex/results/GNR_biased_sc/IDE_171.dat
quatrex/results/GNR_biased_sc/IDE_172.dat
quatrex/results/GNR_biased_sc/IDE_173.dat
quatrex/results/GNR_biased_sc/IDE_174.dat
quatrex/results/GNR_biased_sc/IDE_175.dat
quatrex/results/GNR_biased_sc/IDE_176.dat
quatrex/results/GNR_biased_sc/IDE_177.dat
quatrex/results/GNR_biased_sc/IDE_178.dat
quatrex/results/GNR_biased_sc/IDE_179.dat
quatrex/results/GNR_biased_sc/IDE_180.dat
quatrex/results/GNR_biased_sc/IDE_181.dat
quatrex/results/GNR_biased_sc/IDE_182.dat
quatrex/results/GNR_biased_sc/IDE_183.dat
quatrex/results/GNR_biased_sc/IDE_184.dat
quatrex/results/GNR_biased_sc/IDE_185.dat
quatrex/results/GNR_biased_sc/IDE_186.dat
quatrex/results/GNR_biased_sc/IDE_187.dat
quatrex/results/GNR_biased_sc/IDE_188.dat
quatrex/results/GNR_biased_sc/IDE_189.dat
quatrex/results/GNR_biased_sc/IDE_190.dat
quatrex/results/GNR_biased_sc/IDE_191.dat
quatrex/results/GNR_biased_sc/IDE_192.dat
quatrex/results/GNR_biased_sc/IDE_193.dat
quatrex/results/GNR_biased_sc/IDE_194.dat
quatrex/results/GNR_biased_sc/IDE_195.dat
quatrex/results/GNR_biased_sc/IDE_196.dat
quatrex/results/GNR_biased_sc/IDE_197.dat
quatrex/results/GNR_biased_sc/IDE_198.dat
quatrex/results/GNR_biased_sc/IDE_199.dat
quatrex/results/GNR_biased_sc/DOS_199.gif
quatrex/results/GNR_biased_sc/IDE_199.gif
